.header-image {
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
}
.headline {
    padding: 120px 0;
}
.headline > .container > h1 {
    font-size: 130px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}
.headline > .container > h2 {
    font-size: 77px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}
.emscripten { 
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}
textarea.emscripten { 
    font-family: monospace; 
    width: 80%; 
}
div.emscripten { 
    text-align: center; 
}
div.emscripten_border { 
    border: 1px solid black; 
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas#gol-canvas { 
    border: 0px none; 
    background-color: black; 
}
body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#result {
    inline-size: 25vw; 
    overflow-wrap: break-word;
    position: absolute;
    left: 37%;
}
button#sim[enabled]::after{
    content: 'Stop simulation'
}
button#sim:not([enabled])::after{
    content: 'Start simulation'
}
button#step::after{
    content: 'Next Step'
}