<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask wasm</title>
    <link rel="stylesheet" href="./static/css/site.css">
    <!-- <script type="text/javascript" src="./static/js/factorial.js"></script> -->
  </head>

<body>
  <button id="sim"></button>
  <button id="step"></button>
  <button id="speedup"></button>
  <div>
    <span id="mouse"></span>
  </div>
  <div>
    <span id="cell"></span>
  </div>
    <div class="header-image">
      <canvas id="gol-canvas"></canvas>
      <script type="text/javascript" src="./static/js/game-of-life.js"></script>
    </div>
  </body>
</html>