<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask wasm</title>
    <link rel="stylesheet" href="./static/css/site.css">
    <!-- <script type="text/javascript" src="./static/js/factorial.js"></script> -->
  </head>

<body>
  <button id="start">Start simulation</button>
    <div class="header-image">
      <canvas id="gol-canvas" width="800" height="400"></canvas>
      <script type="text/javascript" src="./static/js/game-of-life.js"></script>
    </div>
  <span id="mouse"></span> 
<!-- 
      <div class="header-image">
        <canvas id="2048-canvas" width="400" height="400"></canvas>
        <script type="text/javascript" src="./static/js/2048.js"></script>
      </div>

      <div class="header-image">
        <div class="container">
          <div class="container">
            <h1>Factorial</h1>
            <input id="fact" placeholder="Enter value">
            <div id="result"><span id="pages"></span></div>
            <button id="expand">Calculate</button>
          </div>
          
        </div>
      </div> -->
          

    <!-- <div class="container"> -->

      <!-- START THE FEATURETTES -->

      <!-- <hr class="featurette-divider">

      <div class="featurette" id="about">
        <h2 class="featurette-heading">This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="services">
        <h2 class="featurette-heading">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="contact">
        <h2 class="featurette-heading">The Third Heading <span class="text-muted">Will Seal the Deal.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <hr> -->
    <!-- </div> -->
  </body>
</html>